Class/__pycache__/class_Bdd.cpython-38.pyc
Class/__pycache__/class_Gameplay.cpython-38.pyc
Class/__pycache__/class_QR.cpython-38.pyc
sqltools_20201124151454_12024.log
.vscode/settings.json
Class/__pycache__/class_Player.cpython-38.pyc
Class/__pycache__/lass_Bdd.cpython-38.pyc
Class/__pycache__/lass_QR.cpython-38.pyc
Class/__pycache__/class_Interface.cpython-38.pyc
